*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    /* padding: 3rem; */
    background-color: #F5F5F5;
}

a,
button {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main_content{
    min-height: 100vh;
}

.container * {
    text-align: center;
}

#banner{
    background-color: rgba(80, 80, 80, 0.85)
}

.banner__background{
    z-index: -10;
    background-image: url("../img/cards.jpg");
    /* Full height */
    height:100vh;
    /* width: 100vw; */
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
}

.banner__section {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
   
    color: white;
    
    text-transform: uppercase;
}

.banner__name {
    font-size: 4rem;
    border-bottom: 2px solid #fff;
}

.banner__buttons {
    margin: 0px 0;
}

.banner__box {
    border: 1px solid white;
    padding: 15px 41px;
    margin: 0 5px;
}

.banner__box a {
    color: white;
}

nav a{
    color: white;
}


.section__heading {
    color: #343a40;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}

hr {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    border-top: 1px solid #646464;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    text-align: center
}

#about {
    padding: 70px 0;
}

.about__img img{
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

#about h3 {
    color: #c2c2c2;
}

.parallax {
    background: url("https://images.pexels.com/photos/289618/pexels-photo-289618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

.parallax *{
    color: white !important;
}

.parallax__header {
    color: #343a40;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}

.parallax__content {
    width: 245px;
    margin: 0 auto;
}

.parallax__content i {
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

/* .parallax h4 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 50px;
} */

/* .social-icon-border{
    border-radius: 50%;
    border: 1px solid white;
} */

.social-icon-border {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 33px;
    line-height: 57px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: auto;
}

#tech {
    padding: 70px 0;
    background-color: white;
}

#tech svg{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

#contact {
    padding: 70px 0;
    background-color: white;
}

#contact * {
    text-align: center !important;
}

#portfolio {
    padding: 70px 0;
}

#portfolio img {
    height: inherit;
    width: inherit;
}

.section__portfolio img{
    margin: 1%;
}

@media screen and (max-width: 700px){
    .banner__section{
        left: 50%;
    }

    .banner__background {
        height: 75vh;
    }

    .main_content{
        min-height: 0;
    }
}


@media (min-width: 768px){
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 47%;
    }
}