*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    /* padding: 3rem; */
    background-color: #F5F5F5;
}

.main_content{
    min-height: 100vh;
}

.container * {
    text-align: center;
}

#banner{
    background-color: rgba(80, 80, 80, 0.85)
}

.banner__background{
    z-index: -10;
    background-image: url("../img/cards.jpg");
    /* Full height */
    height:100vh;
    /* width: 100vw; */
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
}

.banner__name{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
    color: white;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}

nav a{
    color: white;
}


.section__heading {
    color: #343a40;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}

hr {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    border-top: 1px solid #646464;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    text-align: center
}



#about {
    padding: 70px 0;
 
}

#about h3 {
    color: #c2c2c2;
}

.parallax {
    background: url("https://images.pexels.com/photos/289618/pexels-photo-289618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

.parallax *{
    color: white !important;
}

/* .parallax h4 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 50px;
} */

/* .social-icon-border{
    border-radius: 50%;
    border: 1px solid white;
} */

.social-icon-border {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 33px;
    line-height: 57px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: auto;
}

#tech {
    padding: 70px 0;
}

#tech svg{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#contact {
    padding: 70px 0;
}

#contact * {
    text-align: center !important;
}

#portfolio {
    padding: 70px 0;
}

#portfolio img {
    height: inherit;
    width: inherit;
}